@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: Poppins;
    background-color:#D5BAAD;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    border-bottom: 1px solid black;
}

nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: #5eb611;
}

ul li {
    list-style: none;
}

.bnt-nav {
    color: white;
    border-radius: 30px;
    padding: 1rem;
    background-color: #020201;
    transition: .1s;
}

.c {
    position: relative;
    left: 2rem;
}

.bnt-nav:hover {
    background-color: #88c751b6;
    box-shadow: 0 0 10px #adf86c;
}

.footer {
    height: 30px;
    padding: 50px 0px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.footer ul {
    display: flex;
    list-style: none;
    margin-bottom: 50px;
    justify-content: center;
    margin-top: 20px;

}

.footer ul li {
    color: #fff;
    font-size: medium;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    margin: 50px;
}

body {
    margin: 0px;

}