@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: Poppins;
    background-color: #C1D5AD;
}
body::-webkit-scrollbar{
    width: 1vh;
}

body::-webkit-scrollbar-track{
    background-color: #C1D5AD
}

body::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 2vh;
}

.html {
    scroll-behavior: smooth;
 }

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    border-bottom: 3px solid black;
}

nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: #5eb611;
}

ul li {
    list-style: none;
}

.bnt-nav {
    color: white;
    border-radius: 30px;
    padding: 1rem;
    background-color: #020201;
    transition: .1s;
}

.c {
    position: relative;
    left: 2rem;
}

.bnt-nav:hover {
    background-color: #88c751b6;
    box-shadow: 0 0 10px #adf86c;
}

.container1 {
    display: flex;
    margin-top: 0px;
    padding: 85px;
    color: #000;
    justify-content: flex-start;
    height: 90vh;

}

.titulo1 {
    margin-top: 90px;
    padding: 60px;
    width: 600px;
    height: 100px;
}

#fig1 {
    background-image: url('../assets/Be\ borderless\ to\ know\ the\ world..png');
    background-repeat: no-repeat;
}

#fig1:hover {
    background-image: url('../assets/Seja\ sem\ fronteiras\ para\ conhecer\ o\ mundo..png');
}

.container1 p {
    margin-top: 70px;
    font-size: 20px;
    text-align: center;
    margin-right: 90px;

}

.container1 ul {
    padding: 120px;
    display: flex;
    justify-content: flex-start;
    color: #000;
    font-family: Poppins;
    font-size: xx-large;

}



.container1 button {
    width: 120px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    transition: 1 ease;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 200px;
}

.container1 button:hover {
    cursor: pointer;
    background: #7ea94d;
}

.image img {
    border-radius: 500px;
    box-shadow: 0 7px 10px #000;
    margin-left: 90px;
}

.container4{
    justify-content: center;
}

.titulo2 {
    margin-top: 90px;
    padding: 60px;
    width: 1000px;
    height: 100px;
}

#fig2 {
    background-image: url('../assets/Group\ 19.png');
    background-repeat: no-repeat;
}

#fig2:hover {
    background-image: url('../assets/Group\ 19-PORT.png');
}
.sobre {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
  }
  
  .container4 h1{
    font-size: 30px;
    font-weight: 10px;
    justify-content: center;
    

  }
  .sobre .container4 {
    justify-content: center;
  }
  
  .box img {
    width: 300px;
  }
  
  .sobre .container4 .boxes {
    display: flex;
}

.texto {
   padding: 40px;
   text-align: center;
   text-size-adjust: 90px;
}
  
 

  .box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  
  .box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
.footer {
    height: 30px;
    padding: 50px 0px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.footer ul {
    display: flex;
    list-style: none;
    margin-bottom: 50px;
    justify-content: center;
    margin-top: 20px;

}

.footer ul li {
    color: #fff;
    font-size: medium;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    margin: 50px;
}

body {
    margin: 0px;

}