@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: Poppins;
  background-color: #C1D5AD;
  
}

body::-webkit-scrollbar {
  width: 1vh;
}

body::-webkit-scrollbar-track {
  background-color: #C1D5AD
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 2vh;
}

.html {
  scroll-behavior: smooth;
}

/* pagina mural */

*,
body {
  font-family: Poppins;
}

.avisoCaptura {
  display: flex;
  justify-content: center;
}

/* PAGINA DOS GRÃFICOS */
/* MENU LATERAL */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: #161618;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #000000;
  background-color: #C1D5AD;
  border: 3px solid rgb(8, 4, 5);
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #000000;
  font-weight: 300;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #0f0c08;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: #C1D5AD;
  background-color: #000000;
  border-radius: 20px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: rgb(1, 0, 0);
  border: 3px solid #C1D5AD;
  border-radius: 30px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6e6e6;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #000;
  color: #C1D5AD;
  border-radius: 30px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}    



.dash-right .aviso .container .div-form {
  width: 100%;
}

.dash-right .aviso .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .aviso .div-form label {
  width: 100%;
}

.dash-right .aviso .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .aviso .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #C1D5AD;
  background-color: #fafafa;
  border-radius: 5px;
}

.dash-right .aviso .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #C1D5AD;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: poppins;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: rgb(0, 0, 0);
  background-color: #e8dce1;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #C1D5AD;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

.dash-right .aviso {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: poppins;
}

.dash-right .aviso .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  
}


.dash-right .aviso .container .div-form {
  width: 100%;
}

.dash-right .aviso .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .aviso .div-form label {
  width: 100%;
}

.dash-right .aviso .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .aviso .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #C1D5AD;
  background-color: #fafafa;
  border-radius: 5px;
}

.dash-right .aviso .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #C1D5AD;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: poppins;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: rgb(0, 0, 0);
  background-color: #e8dce1;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #C1D5AD;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}