@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: Poppins;
    background-color: #e5e5e5;
}

body::-webkit-scrollbar {
    width: 1vh;
}

body::-webkit-scrollbar-track {
    background-color: #C1D5AD
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2vh;
}

.html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    border-bottom: 1px solid black;
    
}

nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: #5eb611;
}

ul li {
    list-style: none;
}

.bnt-nav {
    color: white;
    border-radius: 30px;
    padding: 1rem;
    background-color: #020201;
    transition: .1s;
}

.c {
    position: relative;
    left: 2rem;
}

.bnt-nav:hover {
    background-color: #88c751b6;
    box-shadow: 0 0 10px #adf86c;
}


body {
    margin: 0px;

}

.container1 {
    justify-content: center;

}

.titulo2 {
    display: flex;
    margin-top: 90px;
    padding: 60px;
    width: 900px;
    height: 100px;
}

#fig2 {
    background-image: url('../assets/Group\ 19.png');
    background-repeat: no-repeat;
}

#fig2:hover {
    background-image: url('../assets/Group\ 19-PORT.png');
}

.sobre {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
}

.container1 h2 {
    font-size: 20px;
    font-weight: 10px;
    justify-content: center;


}

.sobre .container1 {
    justify-content: center;
}

.box img {
    width: 300px;
}

.sobre .container1 .boxes {
    display: flex;
}

.texto {
    padding: 40px;
    text-align: center;
    text-size-adjust: 90px;
}



.box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.container2 {
    justify-content: center;
}

.titulo3 {
    margin-top: 90px;
    padding: 60px;
    width: 1000px;
    height: 100px;
    margin-left: 27vh;

}

#fig3 {
    background-image: url('../assets/CURIOSITIES\ ABOUT\ LEARNING\ A\ NEW\ LANGUAGE.png');
    background-repeat: no-repeat;
}

#fig3:hover {
    background-image: url('../assets/CURIOSIDADES\ SOBRE\ APRENDER\ UM\ IDIOMA.png');
}

.curiosidades {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
}

.container2 h2 {
    font-size: 20px;
    font-weight: 10px;
    justify-content: center;


}

.curiosidades .container2 {
    justify-content: center;
}

.box1 img {
    width: 300px;
}

.curiosidades .container2 .boxes1 {
    display: flex;
}

.texto {
    padding: 40px;
    text-align: center;
    text-size-adjust: 90px;
}



.box1 {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.box1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer {
    height: 30px;
    padding: 50px 0px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.footer ul {
    display: flex;
    list-style: none;
    margin-bottom: 50px;
    justify-content: center;
    margin-top: 20px;

}

.footer ul li {
    color: #fff;
    font-size: medium;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    margin: 50px;
}