@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: Poppins;
    background-color: #C1D5AD;
}

body::-webkit-scrollbar {
    width: 1vh;
}

body::-webkit-scrollbar-track {
    background-color: #C1D5AD
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2vh;
}

.html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    border-bottom: 3px solid black;
}

nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: #5eb611;
}

ul li {
    list-style: none;
}

.bnt-nav {
    color: white;
    border-radius: 30px;
    padding: 1rem;
    background-color: #020201;
    transition: .1s;
}

ul a:nth-child(3){
    text-decoration: underline;
    }    

.c {
    position: relative;
    left: 2rem;
}

.bnt-nav:hover {
    background-color: #88c751b6;
    box-shadow: 0 0 10px #adf86c;
}

.container1 {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    margin: 10px;
    justify-content: space-evenly;


}


.titulo1 {
    margin-top: 30px;
    width: 300px;
    height: 420px;
}

#fig1 {
    background-image: url('../assets/torontinho2.png');
    background-repeat: no-repeat;

}

#fig1:hover {
    background-image: url('../assets/torontinho1.png');
    


}

.titulo2 {
    margin-top: 30px;
    height: 320px;
}

#fig2 {
    background-image: url('../assets/IMG_3228.png');
    background-repeat: no-repeat;
}

#fig2:hover {
    background-image: url('../assets/Rectangle\ 180.png');
}


.container1 ul {
    padding: 120px;
    display: flex;
    justify-content: flex-start;
    color: #000;
    font-family: Poppins;
    font-size: xx-large;

}



.container1 button {
    width: 120px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    transition: 1 ease;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 200px;
}

.container1 button:hover {
    cursor: pointer;
    background: #c3f38d;
}

.image img {
    border-radius: 500px;
    box-shadow: 0 7px 10px #000;
    margin-left: 90px;
}


.titulo2 {
    display: flex;
    justify-content: center;
    padding: 60px;
    width: 700px;
}




